section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
